* {
	margin: 0;
	padding: 0;
	border: 0;
	background-color: black;
	color: white;
	font-family: 'Raleway', sans-serif;
}

h2 {
	font-size: 270%;
	font-weight: 700;
	text-align: center;
	padding-top: 2%;
}

h3 {
	font-size: 175%;
	line-height: 155%;
	padding: 1% 0;
	font-weight: 400;
	text-align: left;
	padding: 3% 3% 0 3%;
}

h4 {
	font-size: 155%;
	line-height: 125%;
	font-weight: 400;
	text-align: left;
	padding: 0 3%;
}

p {
	font-size: 100%;
	line-height: 150%;
	text-align: justify;
	padding: 0 3%;
}

/* hero image */

#main {
	height: 100vh;
	margin: auto;
	background-image: url(bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;	
	text-align: center;
}

#main  h1{
	background-color: transparent;
	font-size: 300%;
	padding-top: 20%;	
}

#main  h2{
	background-color: transparent;
	font-size: 200%;	
}

/* hero image end */

/* nav bar */

#header {
	background-color: black;
	position: fixed;
	z-index: 999;
	width: 100%;
}

#header nav {
	float: right;
	padding: 20px;
}
#header ul {
	list-style-type: none;
}

#header nav ul li {
	font-family: 'Raleway', sans-serif;
	font-size: 150%;
	display: inline-block;
	float: left;
	padding: 10px;
}

#header nav ul li a {
	text-decoration: none;
	padding: 5px;
}

#header nav ul li a:hover {
	color: #C3D7DF;
}

#header span {
	width: 100%;
}

/* nav bar */

/* Header Content */
.content-section h2 {
	background-color: transparent;
	font-family: 'Raleway', sans-serif;
	font-size: 36px;
	text-align: center;
	clear: both;
}	

.content-section {
	text-align: center;
	margin-left: auto; 
	margin-right: auto;
	width: 70%;
}

.content-section a:hover {
	color: #C3D7DF;
}

.content-section i {
	font-size: 500%;
	padding: 2% 0 0 0;
}

.content-section ul {
	text-align: left;
	padding-left: 7%;
}

.inner-wrapper {
	float:left;
	width: 100%;
	background-color: #C3D7DF;
}

.anchor { 
	padding-top: 50px; 
}

/* Footer */
footer {
	background-color: black;
	width: 100%;
	
	text-align: center;
	font-size: 75%;
	
	padding-bottom: 3em;
}

.social {
	list-style-type: none;
	text-align: center;
	padding: 0;
}

.social li {
	display: inline;
}

.social .fa {
	font-size: 460%;
	margin: 0% 1%;
	padding: 1%;
}

.social .fa:hover {
	color: grey;
}